.header_container {
	background-color: rgb(0, 58, 248);
	display: flex;
	height: 10vh;
	justify-content: space-around;
}

.player_container , .points_container {
	align-items: center;
	display: flex;
}

.player , .points {
	margin: 0 30px;
}

.link {
	border: solid 1px black;
	border-radius: 5px;
}
