button {
  background-color: rgba(0, 58, 248, 0.808);
  border: double 3px ;
  border-radius: 9px;
  box-shadow: 0 2px 3px 0 rgba(44, 92, 250, 0.527), 0 3px 2px 0 rgb(44, 92, 250, 0.527);
  transition-duration: 0.3s;
}

button:hover {
  background-color: rgb(0, 170, 248);
  box-shadow: 0 2px 3px 0 rgba(0, 170, 248, 0.521), 0 3px 2px 0 rgba(0, 170, 248, 0.521);
}

button:disabled {
  background-color: rgba(48, 48, 48, 0.233);
  border: double 3px black;
  color: rgba(0, 0, 0, 0.527);
}
